@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,700;1,800&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
.container{
    min-height: 10vh;
    display: flex;
    flex-flow: column;
    padding-bottom: 80px;
    background: linear-gradient(#ccc 50%,#FFC0CB 50.1%);
}
.container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
}
.container .box-container .box{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1 1 300px;


}
.container .box-container .box img{
    height: 100px;
    margin: 25px;
    color: #666;
}
.container .box-container .box .amount{
    font-weight: bolder;
    color: #FFC0CB;
    padding: 10px 0;
    font-size: 30px;

}
.container .box-container .box .amount .price{
    font-size: 60px;

}
.container .box-container .box ul li{
    list-style: none;
    padding: 5px 0;
    color: #666;
    font-size: 17px;
}
.container .box-container .box .btn{
    display: inline-block;
    margin: 15px 0;
    border-radius: 50px;
    background: #FFC0CB;
    color: #fff;
    font-size: 18px;
    padding: 9px 50px;
    transition: 0.2s ease-out;
}
.container .box-container .box .btn:hover{
    letter-spacing: 2px;

}
.container .price-toggler-container{
  margin: 10px auto; 
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; 
}
.container .price-toggler-container span{
   font-weight: bolder;
   color: #666;
   font-size: 20px;

}
.container .price-toggler-container .price-toggle{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-image: #FFC0CB;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}
.container .price-toggler-container .price-toggle::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    border-radius: 50%;
    background: #fff;
    height: 40px;
    width: 40px;
transition: 0.2s ease-out;}
.container .price-toggler-container .price-toggle .active::before{
    left: 103px;
}
   
